.container {
  max-width: 700px;
  margin: 30px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.label {
  font-weight: 600;
  margin-bottom: 6px;
}

.input,
.textarea {
  padding: 10px 12px;
  border: 1px solid #c7c7c7;
  transition: all 0.2s ease;
  background-color: #fafafa;
  color: #333;
  border-radius: 8px;
  font-size: 16px;
}

.input:focus,
.textarea:focus {
  border-color: cornflowerblue;
  outline: none;
  box-shadow: 0 0 4px rgba(100, 149, 237, 0.5);
  background-color: #fff;
}

.textarea {
  resize: vertical;
  min-height: 150px;
}

.containerButtons {
  display: flex;
  column-gap: 1rem;
}

.button {
  width: 70%;
  padding: 12px;
  background-color: #f5f5f5;
  color: #333;
  border: 1px #d1b146 solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  color: #d8a602;
  border: 1px #e4e4e4 solid;
}

.buttonBack {
  width: 30%;
  padding: 12px;
  background-color: #f5f5f5;
  color: #333;
  border: 1px #d1b146 solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.buttonBack:hover {
  color: #d8a602;
  border: 1px #e4e4e4 solid;
}
