.containerCardProyectsPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  color: #333;
}

.containerCardProyectsPage > h2 {
  font-size: 2rem;
}

.containerCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 20px;
}

.containerButtons {
  display: flex;
  width: 80%;
  justify-content: center;
  column-gap: 1rem;
}

.buttonHome {
  padding: 10px;
  width: 10%;
  margin: 20px 0;
  background-color: #4caf50;
  color: #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  display: flex;
  justify-content: center;
}

.buttonHome:hover {
  background-color: #45a049;
}

.buttonBack {
  padding: 10px;
  width: 10%;
  margin: 20px 0;
  background-color: #f44336;
  color: #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  display: flex;
  justify-content: center;
}

.buttonBack:hover {
  background-color: #da190b;
}
