.containerPage {
  max-width: 100%;
  margin: 40px auto;
  padding: 0 20px;
  font-family: sans-serif;
  padding: 6rem 1rem;

  color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.section {
  margin-bottom: 30px;
  width: 70%;
}

.sectionTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 0;
  transition: box-shadow 0.2s ease;
  color: #333;
}

.button:focus {
  outline: none;
}

.answer {
  margin-top: 10px;
  color: #555;
  line-height: 1.6;
  padding-left: 1rem;
}

.containerButtons {
  display: flex;
  width: 80%;
  justify-content: center;
  column-gap: 1rem;
}

.buttonHome {
  padding: 10px;
  width: 10%;
  margin: 20px 0;
  background-color: #4caf50;
  color: #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  display: flex;
  justify-content: center;
}

.buttonHome:hover {
  background-color: #45a049;
}

.buttonBack {
  padding: 10px;
  width: 10%;
  margin: 20px 0;
  background-color: #f44336;
  color: #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  display: flex;
  justify-content: center;
}

.buttonBack:hover {
  background-color: #da190b;
}
