.swiper-button-next,
.swiper-button-prev {
  top: 60% !important;
  transform: translateY(-50%) !important;
  color: white !important;
  z-index: 10 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px !important;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px !important;
  border-radius: 50%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #c9a227 !important;
  transform: translateY(-50%) scale(1.1) !important;
}

@media (max-width: 500px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 22px !important;
    height: 22px !important;

    top: 75% !important;
    transform: translateY(-50%) !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 12px !important;
    padding: 4px !important;
  }
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 28px !important;
    height: 28px !important;

    top: 65% !important;
    transform: translateY(-50%) !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 18px !important;
    padding: 6px !important;
  }
}
