.containerRegisterPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 6rem 0;
  font-family: "Inter";
  width: 100%;
  max-width: 1320px;
  /* min-height: 100vh; */
}
