.rating {
  display: flex;
  align-items: center;
  color: #ffd700; /* color de las estrellas */
  justify-content: center;
}

.star {
  margin-right: 3px;
  transition: transform 0.2s ease;
}

.star:hover {
  transform: scale(1.1);
}

.value {
  color: #555;
  margin-left: 6px;
  font-size: 0.9rem;
}
