.cardFrutas {
  background: #fff;
  border-radius: 12px;
  width: 250px;
  min-height: 260px; /* un poco más alta para ver bien la diferencia */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* reparte espacio */
  align-items: center;
  padding: 15px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cardFrutas:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.cardFrutas > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  min-height: 48px; /* asegura 2 líneas de espacio */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardFrutas > p {
  font-size: 0.95rem;
  text-align: center;
  margin: 5px 0;
  color: #555;
}

.descripcion {
  flex-grow: 1; /* ocupa todo el espacio posible en el medio */
  display: flex;
  align-items: center; /* centra verticalmente la descripción */
}

.precio {
  font-size: 1.1rem;
  font-weight: 600;
  color: #007bff;
  margin-top: 10px;
}

.buttonAdd {
  padding: 10px;
  width: 80%;
  margin: 20px 0;
  background-color: #4caf50;
  color: #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  display: flex;
  justify-content: center;
}

.buttonAdd:hover {
  background-color: #45a049;
}

.containerFavorite {
  display: flex;
  justify-content: flex-end;
  border: none;
  position: relative;
}

.buttonFavorite {
  position: absolute;
  top: -10px;
  right: -100px;
  background: none;
  border: none;
  cursor: pointer;
}

.buttonFavorite:focus {
  outline: none;
}

.adminButtons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 5px;
}

.editButton {
  background-color: #f5f5f5;
  border: 1px #d1b146 solid;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: #4caf50;
}

.deleteButton {
  background-color: #f5f5f5;
  border: 1px #d1b146 solid;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: #f44336;
}

.editButton:hover {
  color: #d8a602;
  border: 1px #e4e4e4 solid;
}

.deleteButton:hover {
  color: #d8a602;
  border: 1px #e4e4e4 solid;
}
.viewMore {
  background: none;
  border: none;
  color: #d8a602;
  font-size: 14px;
  margin: 0 0 8px 0;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

.viewMore:hover {
  color: #333;
}
