.pageTitle {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
  font-family: "Inter";
}

.containerProfilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.formName,
.formEmail,
.formOldPassword,
.formNewPassword,
.formRole {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

label {
  color: #3d7df7;
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #c7c7c7;
  font-size: 0.95rem;
  transition: all 0.2s ease;
  background-color: #fafafa;
  color: #333;
}

input:hover {
  background-color: #fff;
}

input:focus {
  border-color: cornflowerblue;
  outline: none;
  box-shadow: 0 0 4px rgba(100, 149, 237, 0.5);
  background-color: #fff;
}

.name {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Inter";
}

.containerButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttonCancel,
.buttonSave,
.buttonEditMore {
  width: 32%;
  padding: 10px;
  margin: 20px 0;
  color: #333;
  border-radius: 5px;
  font-weight: 400;
  border: 1px #d1b146 solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.buttonCancel:hover,
.buttonSave:hover,
.buttonEditMore:hover {
  color: #d8a602;
  border: 1px #e4e4e4 solid;
}

.separator {
  width: 100%;
  height: 1.5px;
  background: linear-gradient(
    to right,
    rgba(209, 177, 70, 0.1),
    rgba(209, 177, 70, 0.6),
    rgba(209, 177, 70, 0.1)
  );
  margin: 30px 0 15px 0;
  border-radius: 2px;
}

@media (max-width: 1369px) {
  .containerProfilePage {
    padding-top: 10px;
  }
  .containerForm {
    width: 95%;
    padding: 10px 20px 10px 20px;
    margin-bottom: 1rem;
  }
  .buttonCancel,
  .buttonSave,
  .buttonEditMore {
    margin: 10px;
  }

  .pageTitle {
    font-size: 1.7rem;
  }

  .name {
    font-size: 1.1rem;
  }
  input {
    padding: 9px;
  }

  .separator {
    margin: 20px 0 10px 0;
  }
}

@media (max-width: 600px) {
  .containerForm {
    width: 95%;
    padding: 20px;
  }

  .pageTitle {
    font-size: 1.7rem;
  }

  .name {
    font-size: 1.1rem;
  }
}
