* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.containerCartPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  color: #333;
  min-height: calc(100vh - 140px);
}

.title {
  margin-top: 2rem;
}

.cartEmpty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 70vh;
}

.cartEmpty > p {
  font-size: 1.5rem;
  padding: 6rem 0 4rem 0;
}

.buttons {
  display: flex;
  width: 90%;
  justify-content: center;
  column-gap: 1rem;
}

.containerProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

.containerCartProduct {
  list-style: none;
  background: #fff;
  border-radius: 12px;
  width: 250px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}

.containerCartProduct:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #ffe07c;
}

.containerImage {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
  height: 100px;
  object-fit: contain;
}

.containerName {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  margin-bottom: 1rem;
}

.containerName > h3 {
  text-align: center;
  color: #333;
  font-family: Arial;
  font-weight: 500;
  font-size: 1rem;
}

.containerPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerPrice > p {
  text-align: center;
  color: #333;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: 400;
}

.priceValue {
  font-family: Arial;
  font-weight: 700;
  color: #2b8a3e;
}
.containerAmount {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}

.containerAmount > p {
  color: #333;
  margin: 0;
}

.containerTotal > p {
  font-size: 1.25rem;
  font-weight: 600;
}

.buttonsIncDec {
  padding: 10px;
  width: 20%;
  margin: 20px 0;
  background-color: #007bff;
  border: #007bff;
  color: #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
}

.containerButtons {
  display: flex;
  width: 80%;
  justify-content: center;
  column-gap: 1rem;
}

.buttonsIncDec:hover {
  background-color: #105bd5;
}

.totalResumen {
  display: flex;
  margin-top: 1rem;
}

.totalResumen > h3 {
  color: #333;
  font-weight: 300;
  font-size: 1.5rem;
}

.totalResumen > h3 > span {
  color: green;
  font-size: 1.8rem;
  font-weight: 600;
}

.buttonList {
  padding: 10px;
  width: 25%;
  margin: 20px 0;
  background-color: #f5cf52;
  color: #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
  border: #4caf50;
  display: flex;
  justify-content: center;
}

.buttonList:hover {
  background-color: #45a049;
}

.buttonBuy,
.buttonBuyMore,
.buttonClearCart,
.buttonHome {
  padding: 10px;
  width: 25%;
  margin: 20px 0;
  color: #333;
  border-radius: 5px;
  font-weight: 400;
  border: 1px #d1b146 solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.buttonBuy:hover,
.buttonBuyMore:hover,
.buttonClearCart:hover,
.buttonHome:hover {
  color: #d8a602;
  border: 1px #e4e4e4 solid;
}

@media (max-width: 1361px) {
  .containerCartPage {
    padding: 0;
  }
  .containerProducts {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .buttonsIncDec {
    font-size: 1rem;
    padding: 5px;
    margin: 10px 0;
  }
  .containerList {
    margin-bottom: 0;
  }
  .containerPrice > p {
    margin: 0;
  }
  .containerTotal > p {
    margin: 0;
  }
  .containerName {
    margin: 0;
  }
  .title {
    margin-bottom: 0;
    margin-top: 0;
  }
  .totalResumen > h3 {
    margin: 0;
  }
  .cartEmpty > p {
    font-size: 1.5rem;
    padding: 5rem 0 3rem 0;
  }

  .buttonBuy,
  .buttonBuyMore,
  .buttonClearCart,
  .buttonHome {
    margin: 10px 0;
  }
}
