.logo {
  width: 50px;
  height: auto;
}

.cartLink {
  position: relative;
  margin-right: 1rem;
}

.cartBadge {
  position: absolute !important;
  top: 15px;
  left: 65%; /* lo mueve un poco a la izquierda */
  transform: translate(-30%, -30%);
  font-size: 0.8rem;
}

.iconCart {
  font-size: 1.8rem;
}
