* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1rem;
}

.containerCheckoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #333;
}

.containerProducts {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0 1rem 0 1rem;
  justify-content: center;
}

.containerProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.containerProduct > img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}
.containerProduct > p {
  margin: 0;
}

.containerTotalPay {
  display: flex;
  margin: 1rem 0 1rem 0;
  align-items: center;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.containerTotalPay > p {
  margin: 0;
}

.totalPayText {
  font-size: 1.5rem;
}

.totalPayValue {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  color: #2b8a3e;
}

.containerTypesPay {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  width: 80%;
}

.containerTypesPay > button {
  background-color: #f9fafb; /* gris clarito */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
}

.containerTypesPay > button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #ffe07c;
}

.containerConfirmacion {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

button {
  color: #333;
  background-color: #f9fafb;
}

.buttonPay {
  color: #333;
  background-color: #f9fafb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
  height: 4rem;
  font-weight: 600;
}

.buttonPay:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #ffe07c;
}

.containerCartProduct {
  list-style: none;
  background: #fff;
  border-radius: 12px;
  width: 250px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}

.containerCartProduct:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #ffe07c;
}

.emoji {
  font-size: 1.5rem; /* Cambiá a lo que quieras */
  display: inline-block;
}

.payCash,
.payDebitCard,
.payCreditCard {
  margin-bottom: 0;
}

.methodPay {
  font-weight: 600;
  font-family: "Arial";
  font-size: 1.25rem;
}

@media (min-width: 1361px) {
  .containerCheckoutPage {
    margin-top: 1rem;
  }

  .containerCheckoutPage > p {
    margin: 1rem 0 2rem 0;
  }
  .containerTotalPay {
    margin-top: 2rem;
  }
  .containerProducts {
    gap: 1.5rem;
  }
  .containerProduct > img {
    width: 100px;
    height: 100px;
  }
}
