* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerCheckoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  color: #333;
  padding: 6rem 0;
}

.containerTotalPay {
  display: flex;
  margin: 1rem 0 1rem 0;
  align-items: center;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.totalPayValue {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
}

.containerTypesPay {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  width: 80%;
  margin-top: 1rem;
}

.containerTypesPay > button {
  background-color: #f9fafb; /* gris clarito */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
}

.containerConfirmacion {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
