* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerHome {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  align-items: center;
  width: 100%;
  color: #333;
}
.containerHome > h2 {
  margin-top: 2rem;
}
