.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #f9fafb;
}

.main {
  flex: 1;
  /* padding-top: 85px;
  padding-left: 1rem;
  padding-right: 1rem; */
}

.darkMain {
  background: #333;
}
