.containerNotFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.containerNotFoundPage > h2 {
  font-size: 3rem;
  color: #333;
}

.containerNotFoundPage > p {
  font-size: 1.75rem;
  color: #333;
}

.containerButtons {
  display: flex;
  width: 80%;
  justify-content: center;
  column-gap: 1rem;
}

.buttonHome {
  padding: 10px;
  width: 10%;
  margin: 20px 0;
  background-color: #007bff;
  color: #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  border: none;
}

.buttonHome:hover {
  background-color: #105bd5;
}
