.containerContactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #333;
}

.containerTitle {
  display: flex;
  column-gap: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
}

.containerTitle > h1 {
  font-size: 2rem;
}

.containerTitle > img {
  width: 40px;
  height: 40px;
}

.containerMessages {
  display: flex;
  width: 80%;
}
.containerTextsAndForm {
  display: flex;
  flex-direction: row;
  padding: 2rem 0 0 0;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1320px;
  height: 100%;
  margin-top: 1rem;
}

.containerTextsForm {
  width: 50%;
  padding: 0 1rem 0 3rem;
  border-right: 1px #d1d1d1 solid;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerTextsForm > p:nth-child(2),
.containerTextsForm > p:nth-child(3),
.containerTextsForm > p:nth-child(4),
.containerTextsForm > p:nth-child(5),
.containerTextsForm > p:nth-child(6) {
  padding-top: 1.5rem;
  margin-bottom: 0;
}

.containerTextsForm > p:nth-child(7) {
  font-weight: 600;
  padding-top: 2.5rem;
  text-align: center;
  margin: 0;
}

.containerTextsForm > p:nth-child(8) {
  text-align: center;
  margin: 0;
}

.containerTextsForm > h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.containerForm {
  width: 50%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 1rem;
}

.formName,
.formEmail,
.formMessage {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formName > label,
.formEmail > label,
.formMessage > label {
  margin: 0.25rem 0;
  padding-left: 0.25rem;
}

.formName > input,
.formEmail > input,
.formMessage > textarea {
  border: none;
  border-radius: 4px;
  height: 2.5rem;
  padding: 0.5rem;
  background: #ececec;
  color: #333;
}

.formName > input:focus,
.formEmail > input:focus,
.formMessage > textarea:focus {
  outline: none;
  border: 2px #007bff solid;
}

.formMessage > textarea {
  height: 8rem;
}

.containerButtons {
  display: flex;
  width: 80%;
  column-gap: 1rem;
  justify-content: center;
}

.buttonSend {
  width: 60%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
  color: #333;
  border: 1px #d1b146 solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  outline: none;
}

.buttonSend:hover {
  color: #d8a602;
  border: 1px #e4e4e4 solid;
}

.buttonBack {
  padding: 10px;
  width: 35%;
  margin: 20px 0;
  background-color: #f5f5f5;
  color: #333;
  border: 1px #d1b146 solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 5px;
  font-weight: 400;
}

.buttonBack:hover {
  color: #d8a602;
  border: 1px #e4e4e4 solid;
}

@media (max-width: 1369px) {
  .containerTitle {
    display: flex;
    column-gap: 1rem;
    padding-top: 1rem;
  }

  .containerTitle > img {
    width: 48px;
    height: 48px;
  }

  .containerMessages {
    display: flex;
    width: 80%;
  }
  .containerTextsAndForm {
    display: flex;
    flex-direction: row;
    padding: 2rem 0 0 0;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1320px;
    height: 100%;
  }

  .containerTextsForm > p:nth-child(2),
  .containerTextsForm > p:nth-child(3),
  .containerTextsForm > p:nth-child(4),
  .containerTextsForm > p:nth-child(5),
  .containerTextsForm > p:nth-child(6) {
    padding-top: 1rem;
    margin-bottom: 0;
  }

  .containerTextsForm > p:nth-child(7) {
    font-weight: 600;
    padding-top: 2rem;
    text-align: center;
    margin: 0;
  }

  .containerForm {
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
