.containerContactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: #333;
}

.containerTitle {
  display: flex;
  column-gap: 1rem;
  padding-top: 1rem;
}

.containerTitle > h1 {
  font-size: 2.5rem;
}

.containerTitle > img {
  width: 48px;
  height: 48px;
}

.containerMessages {
  display: flex;
  width: 80%;
}
.containerTextsAndForm {
  display: flex;
  flex-direction: row;
  padding: 2rem 0 0 0;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1320px;
  height: 100%;
}

.containerTextsForm {
  width: 50%;
  padding: 0 1rem 0 3rem;
  border-right: 1px #d1d1d1 solid;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerTextsForm > p:nth-child(2),
.containerTextsForm > p:nth-child(3),
.containerTextsForm > p:nth-child(4),
.containerTextsForm > p:nth-child(5),
.containerTextsForm > p:nth-child(6) {
  padding-top: 1rem;
  margin-bottom: 0;
}

.containerTextsForm > p:nth-child(7) {
  font-weight: 600;
  padding-top: 2rem;
  text-align: center;
  margin: 0;
}

.containerTextsForm > p:nth-child(8) {
  text-align: center;
  margin: 0;
}

.containerTextsForm > h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.containerForm {
  width: 50%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.formName,
.formEmail,
.formMessage {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formName > label,
.formEmail > label,
.formMessage > label {
  margin: 0.25rem 0;
  padding-left: 0.25rem;
}

.formName > input,
.formEmail > input,
.formMessage > textarea {
  border: none;
  border-radius: 4px;
  height: 2.5rem;
  padding: 0.5rem;
  background: #d1d1d1;
  color: #333;
}

.formName > input:focus,
.formEmail > input:focus,
.formMessage > textarea:focus {
  outline: none;
  border: 2px #007bff solid;
}

.formMessage > textarea {
  height: 8rem;
}

.containerButtons {
  display: flex;
  width: 80%;
  column-gap: 1rem;
  justify-content: center;
}

.buttonSend {
  width: 60%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #007bff;
  cursor: pointer;
  color: white;
  outline: none;
}

.buttonSend:hover {
  background-color: #105bd5;
  border: none;
  font-weight: 600;
}

.buttonBack {
  padding: 10px;
  width: 35%;
  margin: 20px 0;
  background-color: #ff3a41;
  color: #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
}

.buttonBack:hover {
  background-color: #dc3545;
  border: none;
  font-weight: 600;
}
